### Lecture & restructuration des données

Les données d'analyse d'Avila nous sont données sous 2 ensemble de données :

*   avila-tr : contenant des données d'entrainement
*   avila-ts : contenant des données de test

In [132]:
# train file
avila_tr_filename = './dataset/avila-tr.txt'

# test file
avila_ts_filename = './dataset/avila-ts.txt'

In [133]:
import pandas as pd

df_train = pd.read_csv(avila_tr_filename, '\n', ',', header=None)
df_test = pd.read_csv(avila_ts_filename, '\n', ',', header=None)

##### Visionnage des datasets

In [134]:
df_train.sample(5)

             0         1         2         3   ...        7         8         9   10
4412   0.080916  0.203385  0.249852 -0.423061  ... -0.530992  0.251173 -0.759485   H
6795  -0.017834 -0.330495  0.488131 -0.183313  ... -0.249916 -0.029461 -0.363510   F
10190 -0.079554  0.187683  0.335206  0.745008  ...  0.532661  1.810246  0.397422   X
187    0.142636 -0.448263  0.438342  0.978909  ... -0.621721 -0.434820  1.668154   F
9813   0.043885  0.407516  0.047137  0.460921  ... -1.164362 -0.559546  1.102153   F

[5 rows x 11 columns]

In [135]:
df_test.sample(5)

            0         1         2         3   ...        7         8         9   10
2548  0.080916 -0.291239  0.356544  0.226662  ...  0.440574  0.282354 -0.109219   F
9926  0.192011  0.085618  0.278304 -1.347355  ... -0.113134  0.188810 -0.589760   F
1     0.204355 -0.354049  0.320980  0.410166  ...  0.181844  2.090879 -2.009758   A
129  -3.498799 -0.087108  0.438342 -1.227108  ... -0.173885  0.064084 -0.614606   C
695   0.006853 -0.181323  0.388552  0.301377  ... -0.094554 -0.060642  0.166325   A

[5 rows x 11 columns]

##### Renommage des colonnes

In [136]:
columns = [f'F{i}' for i in range(10)] + ['Class']

df_train.columns = columns
df_test.columns = columns

In [137]:
df_train.sample(5)

            F0        F1        F2  ...        F8        F9  Class
8820 -0.091897  0.344707  0.182281  ...  0.531806  0.276159      H
719  -0.165960 -0.267686  0.256965  ... -0.341275  0.877313      A
2481  0.426544  0.588093  0.160942  ...  0.251173 -0.163672      F
54   -0.277055  0.038511  0.420560  ...  0.905984  0.221755      X
664   1.043737 -0.401156  0.473906  ... -0.372457  0.192292      A

[5 rows x 11 columns]

Description des colonnes :

* F1       intercolumnar distance
* F2       upper margin 
* F3       lower margin 
* F4       exploitation 
* F5       row number 
* F6       modular ratio 
* F7       interlinear spacing 
* F8       weight 
* F9       peak number 
* F10      modular ratio/ interlinear spacing
* Class    A, B, C, D, E, F, G, H, I, W, X, Y (12 classes)

##### Vérification des types

In [138]:
df_train.dtypes

F0       float64
F1       float64
F2       float64
F3       float64
F4       float64
F5       float64
F6       float64
F7       float64
F8       float64
F9       float64
Class     object
dtype: object

Vérification que le nombre de classes différentes est bien de 12

In [139]:
len(df_train.groupby('Class')) == len(df_test.groupby('Class')) == 12

True

Remplacement du type de la colonne Class par un type 'categorie'

In [140]:
df_train['Class'] = df_train['Class'].astype("category")
df_test['Class'] = df_test['Class'].astype("category")

In [141]:
df_train['Class'].cat.categories

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'W', 'X', 'Y'], dtype='object')

In [142]:
df_test['Class'].cat.categories

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'W', 'X', 'Y'], dtype='object')

### Analyses des données